<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Changelog</title>
	<style>body {font-family: 'Helvetica Neue', Helvetica;}</style>
</head>
<body>
	<h1><%= Date.today.to_s %> - Changelog</h1>

	<ul>
	<% @as_tasks.each do |task| %>
		<li>
			<%= task.get('name') %>&nbsp;<% if task.get('assignee') %><small>[<%= task.get('assignee') %>]</small><% end %>
		</li>
	<% end %>
	</ul>
</body>
</html>